@import "fonts.css";

:root {
    --primary: #3077c6;
    --primary-dark: #10367c;
    --secondary: #f5bd41;
    --white: #ffffff;
    --primary-text: #383838;
    --secondary-text: #bfbfbf;
    --gray100: #121212;
    --gray200: #1d1e1f;
    --gray300: #4d4d4d;
    --background-gray: #eaf0f9;

    --col-size: calc(100% / 12);

    --line-width: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.col-1 {
    width: var(--col-size);
}

.col-2 {
    width: calc(var(--col-size) * 2);
}

.col-3 {
    width: calc(var(--col-size) * 3);
}

.col-4 {
    width: calc(var(--col-size) * 4);
}

.col-5 {
    width: calc(var(--col-size) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(var(--col-size) * 7);
}

.col-8 {
    width: calc(var(--col-size) * 8);
}

.col-9 {
    width: calc(var(--col-size) * 9);
}

.col-10 {
    width: calc(var(--col-size) * 10);
}

.col-11 {
    width: calc(var(--col-size) * 11);
}

.col-12 {
    width: 100%;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 120px 16px;
}

[class*='row'] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

[class*='col'] {
    flex-grow: 0;
    padding: 0 8px;
    fill: var(--primary);
}

/*  Header */

.sprites {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.header {
    background-image: url("../images/picture-top.png");
    min-height: 100vh;
    background-color: var(--gray300);
    background-position: center;
    background-repeat: no-repeat;
}

.header .container {
    padding-top: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 205px;
    height: 40px;
    fill: var(--primary);
}

.nav__menu {
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav__link--stays:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -4px;
    left: 5px;
}

.nav__link--attractions:hover:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -4px;
    left: 115px;
}

[class*='nav__link'] {
    color: var(--white);
    margin-right: 24px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.nav__svg--night {
    width: 30px;
    height: 30px;
    margin: 0 24px;
    fill: var(--white);
}

.nav__svg--account {
    width: 40px;
    height: 40px;
    fill: var(--white);
}

.nav__svg--menu {
    fill: var(--white);
    width: 24px;
    height: 16px;
    display: none;
}

.h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 50px;
    padding-top: 200px;
    margin-bottom: 145px;
}

.header__forms {
    display: flex;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 120px;
    position: relative;
}

[class*='form__input--'] {
    border-radius: 4px;
    border: none;
    font-size: 18px;
}

.form__check-out:before {
    content: '―';
    position: absolute;
    top: 32%;
    left: -7%;
}

.forms__children:before {
    content: '―';
    position: absolute;
    top: 32%;
    left: 29%;
}

.forms__rooms:before {
    content: '―';
    position: absolute;
    top: 32%;
    right: 30%;
}

.forms__rooms {
    margin-left: 7px;
}

.form3 {
    height: 64px;
    width: 25%;
}

[class*='form__label--'] {
    position: absolute;
    color: var(--white);
    font-size: 18px;
}

.form__input--your-destination {
    width: 100%;
    height: 64px;
    padding-left: 25px;
}

.form__your-destination {
    position: relative;
    width: 38%;
}

.search {
    display: none;
}

.form__label--your-destination {
    left: 5%;
    top: -70%;
    color: var(--white);
}

input::placeholder {
    color: var(--primary-text);
    font-size: 18px;
}

.form__check {
    display: flex;
    position: relative;
    border: 3px solid var(--secondary);
    border-radius: 8px;
    width: 21%;
}

.form__label--check-in {
    left: 16%;
    top: -82%;
}

.form__input_all {
    padding-left: 15px;
}

.form__label--check-out {
    left: -10%;
    top: -82%;
}

.form__check-in,
.form__check-out {
    position: relative;
}

.form__input--check-in {
    width: 100%;
    height: 58px;
}

.form__input--check-out {
    width: 100%;
    height: 58px;
}

.form__people {
    display: flex;
    background-color: var(--white);
    position: relative;
    border-radius: 4px;
    width: 27%;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form__label--people {
    position: absolute;
    top: 33%;
    color: var(--primary-text);
    margin-left: 3px;
}

.form__button__text {
    width: 100%;
    height: 64px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    font-size: 24px;
}

.form__button {
    width: 16%;
}

.header__apps {
    display: flex;
    justify-content: center;
}

.header__google-play {
    width: 135px;
    height: 40px;
    margin-right: 17px;
}

.header__app-store {
    width: 120px;
    height: 40px;
}

.header__calendar {
    background-color: var(--white);
    border-radius: 8px;
    position: absolute;
    display: flex;
    top: 72px;
    right: 190px;
}

[class*='calendar__arrow'] {
    fill: none;
    width: 8px;
    height: 18px;
    position: absolute;
    top: 15px;
}

.calendar__arrow-next {
    right: 35px;
}

.calendar__arrow-back {
    transform: rotate(180deg);
    left: 35px;
}

.calendar__month-year,
.calendar__month-name {
    font-weight: 500;
    font-size: 18px;
    position: relative;
}

.calendar__month {
    text-align: center;
    width: 290px;
    padding: 12px 22px 18px;
}

.calendar__day-of-week {
    display: flex;
    width: 290px;
}

.calendar-margin {
    margin-top: 10px;
}

[class*="cell"] {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
}

.cell-days:hover {
    background-color: var(--secondary-text);
}

.calendar__grey-days:hover {
    background-color: var(--white);
}

.calendar__current-day {
    color: var(--primary);
}

.calendar__grey-days {
    color: var(--secondary-text);
}

.calendar__selected-days {
    background-color: var(--primary);
    color: var(--white);
}

.calendar__selected-days:hover {
    background-color: var(--primary);
    color: var(--white);
}

/* Homes */

.homes {
    background-color: var(--background-gray);
    width: 100%;
}

.title {
    margin-bottom: 107px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.row {
    font-size: 24px;
    position: relative;
}

.homes__images {
    width: 100%;
    height: 296px;
    margin-bottom: 15px;
}

.homes__link {
    color: var(--primary);
}

.homes__text {
    padding-top: 25px;
    color: var(--secondary-text);
}

[class*='__svg_arrow'] {
    fill: none;
    width: 48px;
    height: 48px;
    position: absolute;
}

.homes__svg_arrow-back {
    top: 30%;
    left: -0.5%;
    transform: rotate(180deg);
}

.homes__svg_arrow-next {
    top: 30%;
    right: -1%;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 1024px) {
    /* For tables: */
    .container {
        max-width: 885px;
        padding: 60px 16px;
    }

    .header__forms {
        padding: 8px;
        background-color: var(--secondary);
        display: block;
        border-radius: 0;
        margin-bottom: 0;
    }

    [class*='form__input--'] {
        height: 48px;
        border-radius: 4px;
        border: none;
    }

    .form3 {
        height: 32px;
        width: 100%;
    }

    [class*='form__label--'] {
        position: absolute;
        color: var(--primary-text);
        font-weight: 500;
        font-size: 15px;
    }

    .form__input--your-destination {
        width: 100%;
        padding-left: 38px;
        font-size: 14px;
    }

    .form__input--your-destination:focus + .form__label--your-destination,
    .form__input--your-destination:not(:placeholder-shown) + .form__label--your-destination {
        transform: translateY(-80%) translateX(-8.5%) scale(0.85);
    }

    .form__input_all:focus + .form__labels_all,
    .form__input_all:not(:placeholder-shown) + .form__labels_all {
        transform: translateY(-80%) translateX(-8.5%) scale(0.85);
    }

    .form__your-destination {
        width: 100%;
        position: relative;
        margin-bottom: 8px;
    }

    .search {
        display: flex;
        fill: var(--secondary-text);
        width: 16px;
        height: 16px;
        position: absolute;
        left: 4%;
        top: 32%;
    }

    .form__label--your-destination {
        left: 13%;
        top: 33%;
    }

    input::placeholder {
        color: rgba(56, 56, 56, 0);
    }

    .form__input--your-destination:focus + .form__label--your-destination {
        transform: translateY(-80%) translateX(-8.5%) scale(0.85);
        transition: transform 200ms;
    }

    .form__check {
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-bottom: 8px;
        border: none;
        width: 100%;
    }

    .form__label--check-in {
        left: 4%;
        top: 32%;
    }

    .form__input_all:focus + .form__labels_all {
        transform: translateY(-80%) translateX(-9%) scale(0.85);
        transition: transform 200ms;
    }

    .form__input_all {
        padding-left: 10px;
        font-size: 14px;
    }

    .form__input--check-in {
        margin-right: 8px;
    }

    .form__label--check-out {
        left: 5%;
        top: 32%;
    }

    .form__check-in,
    .form__check-out {
        width: 50%;
        position: relative;
    }

    .form__check-in {
        margin-right: 8px;
    }

    .form__input--check-in {
        margin-right: 8px;
        width: 100%;
    }

    .form__input--check-out {
        width: 100%;
    }

    .form__people {
        display: flex;
        margin-bottom: 8px;
        background-color: var(--white);
        position: relative;
        border-radius: 4px;
        width: 100%;
    }

    .form__people {
        padding: 8px;
    }

    .form__label--people {
        left: 6%;
        top: 29%;
    }

    .forms__adults {
        padding-left: 0;
    }

    .forms__children {
        border-left: 1px solid #BFBFBF;
        border-right: 1px solid #BFBFBF;
    }

    .form__check-out:before {
        display: none;
    }

    .forms__children:before {
        display: none;
    }

    .forms__rooms:before {
        display: none;
    }

    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }

    [class*='forms__'] {
        position: relative;
        width: 33.3%;
    }

    .form__button__text {
        width: 100%;
        height: 48px;
        border-radius: 4px;
        border: none;
        background-color: var(--primary);
        color: var(--white);
        font-weight: 500;
        font-size: 19px;
    }

    .form__button {
        width: 100%;
    }

    .header__calendar {
        top: 50%;
        right: 23%;
    }

    [class*='calendar__arrow'] {
        width: 6px;
        height: 15px;
        top: 13px;
    }

    .calendar__month-year,
    .calendar__month-name {
        font-weight: 500;
        font-size: 15px;
    }

    .calendar__month {
        width: 230px;
        padding: 10px 20px 16px;
    }

    .calendar-margin {
        margin-top: 8px;
    }

    [class*="cell"] {
        width: 27px;
        height: 27px;
        font-size: 12px;
    }

    .header__apps {
        margin-top: 32px;
    }

    .title {
        margin-bottom: 34px;
        font-size: 36px;
    }

    .homes__images {
        margin-bottom: 14px;
        height: 66%;
    }

    .homes__text {
        padding-top: 18px;
    }

    .offers__text {
        font-size: 21px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    :root {
        --col-size: calc(100% / 6);
    }

    .col-sm-1 {
        width: var(--col-size);
    }

    .col-sm-2 {
        width: calc(var(--col-size) * 2);
    }

    .col-sm-3 {
        width: calc(var(--col-size) * 3);
    }

    .col-sm-4 {
        width: calc(var(--col-size) * 4);
    }

    .col-sm-5 {
        width: calc(var(--col-size) * 5);
    }

    .col-sm-6 {
        width: 100%;
    }

    .container {
        max-width: 650px;
        padding: 40px 16px;
    }

    [class*='nav__link'] {
        display: none;
    }

    .container .header {
        padding-top: 12px;
    }

    .logo {
        width: 122px;
        height: 24px;
    }

    .nav__svg--night {
        width: 16px;
        height: 16px;
        margin: 0;
    }

    .nav__svg--account {
        width: 24px;
        height: 24px;
        margin: 0 16px;
    }

    .nav__svg--menu {
        display: flex
    }


    .header__calendar {
        right: 20%;
    }

    [class*='calendar__arrow'] {
        width: 6px;
        height: 13px;
        top: 11px;
    }

    .calendar__month-year,
    .calendar__month-name {
        font-weight: 500;
        font-size: 13px;
    }

    .calendar__month {
        width: 175px;
        padding: 8px 16px 13px;
    }

    .calendar-margin {
        margin-top: 5px;
    }

    [class*="cell"] {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .row {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .homes__images--display-none {
        display: none;
    }

    .homes__images {
        margin-bottom: 9px;
        height: 71%;
    }

    .homes__link {
        padding-bottom: 4px;
    }

    .homes__text {
        padding-top: 12px;
    }

    [class*='__svg_arrow'] {
        width: 35px;
        height: 35px;
        top: 30%;
        right: 16%;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    :root {
        --col-size: calc(100% / 6);
    }

    .col-xs-1 {
        width: var(--col-size);
    }

    .col-xs-2 {
        width: calc(var(--col-size) * 2);
    }

    .col-xs-3 {
        width: calc(var(--col-size) * 3);
    }

    .col-xs-4 {
        width: calc(var(--col-size) * 4);
    }

    .col-xs-5 {
        width: calc(var(--col-size) * 5);
    }

    .col-xs-6 {
        width: 100%;
    }

    .container {
        max-width: 360px;
        padding: 40px 16px;
    }

    .header__calendar {
        right: 0;
    }

    .calendar__month-year,
    .calendar__month-name {
        font-weight: 500;
        font-size: 12px;
    }

    .calendar__month {
        width: 163px;
        padding: 6px 10px 9px;
    }

    .offers .container {
        padding-top: 24px;
    }

    .col-xs-6 {
        margin-bottom: 15px;
    }

    .offers .col-xs-6:last-child {
        margin-bottom: 0;
    }

    .title {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .row {
        font-size: 12px;
    }

    .homes__images--display-none {
        display: none;
    }

    .homes__images {
        height: 79%;
        margin-bottom: 6px;
        display: flex;
    }

    .homes__text {
        padding-top: 4px;
    }

    [class*='__svg_arrow'] {
        width: 28px;
        height: 28px;
        top: 32%;
        right: -1%;
    }
}